@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  min-height: 100vh;
}

.ba-text-orange {
  color: #ca9d3d;
}

.ba-bg-dark {
  background-color: #1e1e1e;
}

.ba-bg-orange {
  background-color: #ca9d3d;
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image-container > div > .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* FAQ CSS */

.listing > ul {
  margin-bottom: 2rem;
  list-style: disc;
  }
  
  .listing > ul > li {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .listing > ul > li > ul {
    padding-left: 1.5rem;
    list-style: disc;
  }
  
  .listing > ul > li > ul > li {
    margin: .5rem;
  }

  @media (min-width: 768px) {

    .listing > ul > li {
      margin-left: 1.5rem;
    }

    .listing > ul > li > ul > li {
      margin-left: 1rem;
    }
  }
